<%= @question.user.email %>:
<% unless current_user.follows.find_by(following_id: @question.user.id).present? %>

 <%= link_to "follow_user", follow_user_path(user_id: @question.user.id, question_id: @question.id), class: "follow_user" %>
<% else %>
<%= link_to "unfollow user", unfollow_user_path(user_id: @question.user.id,question_id: @question.id) %>
<% end %><br>
<%= @question.theme.description %>:
<% unless current_user.follow_themes.find_by(theme_id: @question.theme.id).present? %>
  <%=  link_to "follow topic", follow_topic_path(theme_id: @question.theme.id,question_id: @question.id), class: "follow_topic" %>
<% else %>

<%= link_to "unfollow topic", unfollow_topic_path(theme_id: @question.theme.id,question_id: @question.id) %>
<% end %>

<h1> Question Test </h1>
<p> <%= @question.name %> </p>
<h2> Answers to above question </h2>

<% @answers.each do |answer| %>
<p class="answer"> <%= answer.description %></p><br>
  <% end %>
